.idea/
.DS_Store
ConceptSets/*.csv
SentenceData/*.csv
*-of-*
*-concept-sets.json
snli_1.0_*.txt
*.pyc
**pycache**
*.post
*.rouge
dataset/GCC/gcc_sent.matched.json
dataset/final_data/3.post_processed.json
methods/fairseq_story/fairseq_local/input_reason/
methods/fairseq_story/fairseq_local/input_alpha/
methods/fairseq_story/fairseq_local/*_checkpoints/
evaluation/data_analysis/conceptnet-assertions-5.7.0.csv
methods/fairseq_story/fairseq_local_backup/
evaluation/BERTScore/tmp/bert-cased-pretrained-cache/
methods/fairseq_story/fairseq_local/leven_checkpoints_simple/
